{%  extends "base.html.twig" %}

{% block body %}
    <section id="main-content">
        <section class="wrapper">

            <h3><i class="fa fa-angle-right"></i> Suppression de l'article</h3>
            <form action="" method="post">
                Etes vous sure de vouloir supprimer l'article : " {{ article.titre }} "?
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" name="del" value="Oui">
                    <input type="submit" class="btn btn-success" name="del" value="Non">
                </div>
            </form>
        </section>
    </section>
{% endblock %}