<!DOCTYPE html>
<html>
<head>
	<title>Fil d'actualités</title>
</head>
<body>
<h1>Fil d'actualités</h1>
<div class="listeArticle">
	<div class="article">
		<div class="avatar"><img src="image/default.jpg"></div>
		<div class="intro">
			<h1>Mon Article Perso</h1>
			<div class="dateArticle">01-01-2018 21:53:00</div>
		</div>
		<img src="image/article.jpg">
		<div class="post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi odit quo doloremque, nisi ipsa accusantium dolorem provident nostrum, neque voluptate inventore consequatur, possimus velit? Quae alias tenetur, ipsam rem voluptates?</div>
	</div>
	
	<div class="article">
		<h1>Mon titre Partagé</h1>
		<div class="dateArticle">01-01-2018 21:53:00</div>
		<img src="image/article.jpg">
		<div class="extract">Lorem ipsum dolor sit amet..</div>
		<div class="link"><a href="#">En savoir plus</a></div>
	</div>
</div>
</body>
</html>